
h2{
color: rgb(202, 68, 31);
background-color: rgb(229, 150, 124);
}

p{
color:rgb(202, 68, 31);
background-color: rgb(229, 150, 124);
}

mark.de {
    background-color: rgb(231, 228, 134);
}

mark.oceaan {
    background-color: rgb(158, 237, 165);
}

mark.is {
    background-color: rgb(234, 153, 239);
}

mark.heel {
    background-color: rgb(132, 132, 231);
}

mark.erg {
    background-color: rgb(226, 49, 220);
}

mark.groot {
    background-color: rgb(80, 80, 236);
}

mark.en {
    background-color: rgb(240, 231, 62);
}

mark.mooi {
    background-color: rgb(59, 238, 80);
}

table td#cell1 {background-color:rgb(132, 132, 231);width: 150px;height: 88px;}
table td#cell2 {background-color:rgb(108, 108, 211);width: 150px;height: 88px;}
table td#cell3 {background-color:rgb(80, 80, 236);width: 150px;height: 88px;}                                                
table td#cell4 {background-color:rgb(34, 34, 235);width: 150px;height: 88px;}

table td#cell5 {background-color:rgb(234, 153, 239);width: 150px;height: 88px;}
table td#cell6 {background-color:rgb(227, 99, 202);width: 150px;height: 88px;}
table td#cell7 {background-color:rgb(226, 49, 220);width: 150px;height: 88px;}
table td#cell8 {background-color:rgb(228, 15, 196);width: 150px;height: 88px;}

table td#cell9 {background-color:rgb(158, 237, 165);width: 150px;height: 88px;}
table td#cell10 {background-color:rgb(106, 231, 100);width: 150px;height: 88px;}
table td#cell11{background-color:rgb(59, 238, 80);width: 150px;height: 88px;}
table td#cell12{background-color:rgb(42, 239, 28);width: 150px;height: 88px;}

table td#cell13{background-color:rgb(231, 228, 134);width: 150px;height: 88px;}
table td#cell14{background-color:rgb(232, 236, 109);width: 150px;height: 88px;}
table td#cell15{background-color:rgb(240, 231, 62);width: 150px;height: 88px;}
table td#cell16{background-color:rgb(237, 226, 18);width: 150px;height: 88px;}